body {
	font-family: sans-serif;
	margin: 0;
	background-color: #FFE2DC;

}

nav {
	position: sticky;
	top: 0;
	text-align: center;
}

nav ul {
	background-color: #FE8176;
}

nav ul li:hover {
	color: #FE8176;
	font-weight: bold;
	background-color: #A70F01;
}

header {
	text-align: center;
}

main {
	margin: auto;
	max-width: 65%;
	text-align: justify;

}

nav ul li {
	display: inline-block;
	padding: 10px; 
}

aside {
	float: right;
	height: 300px;
	width: 13%;
	background-color: #FE8F77;
	padding: 10px;
}

aside ul {
	list-style: none;
}

aside ul li:first-child {
	font-weight: bold;
}

main {
	margin: auto;
	max-width: 65%;
	text-align: justify;

}


