* {
	font-family: monospace;
}
h1{
	font-size: 50px;
}

h1 {
	color: white;
}
main {
    color: red;
}

main div {
	display: inline-block;
}

.kwadrat {
	background-color: blue;
	height: 50px;
	width: 50px;
	margin: 5px
}

#jeden {
	
	background-color: pink;
}

main p {
	color: black;
}
img {
	border-radius: 30%;
	height: 300px;
}
img:hover {
	border-radius: 50%;
}

header {
	border: 5px dotted white;
	position: sticky;
	top: 10px;
}

