body {
	font-family: sans-serif;
	margin: 0;
}

nav {
	position: sticky;
	top: 0;
}

nav ul {
	background-color: #e5e5e5
}

nav ul li {
	display: inline-block;
	padding: 10px; 
}

nav ul li:hover {
	color: red;
	font-weight: bold;
	background-color: #f9f9f9;
	cursor: pointer;
}

main {
	margin: auto;
	max-width: 65%;
	text-align: justify;

}

aside {
	float: left;
	height: 300px;
	width: 13%;
	background-color: #e5e5e5;
}

header {
	text-align: center;
}